
.respFontTitle {
	font-size:5vm;
}

.respFontTitle2 {
	font-size:4vm;
}

.respFontText {
	font-size:2vm;
}

/* default size : big screen */
/*.respFontTitle {
	font-size:52px;
}

.respFontTitle2 {
	font-size:39px;
}

.respFontText {
	font-size:29px;
}

/*@media (max-width: 1922px) {
	.respFontTitle {
		font-size:40px;
    }
    
	.respFontTitle2 {
		font-size:30px;
	}
    
	.respFontText {
		font-size:24px;
	}
}

@media (max-width: 1605px) {
	.respFontTitle {
		font-size:33pxpx;
    }
    
	.respFontTitle2 {
		font-size:25px;
	}
    
	.respFontText {
		font-size:20px;
	}
}

@media (max-width: 1281px) {
	.respFontTitle {
		font-size:27px;
    }
    
	.respFontTitle2 {
		font-size:20px;
	}
    
	.respFontText {
		font-size:16px;
	}
}

@media (max-width: 961px) {
	.respFontTitle {
		font-size:20px;
    }
    
	.respFontTitle2 {
		font-size:15px;
	}
    
	.respFontText {
		font-size:12px;
	}

}*/