@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url(style-about-us.css);
@import url(style-index.css);


@viewport {
	width: device-width ;
	zoom: 1.0 ;
}

@font-face {
	font-family: AvenirLTStd;
	src: url(font/AvenirLTStd-Light.otf);	
}

.index-content-margin {
	margin-left: 3em;
	margin-right: 3em;
}

body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "AvenirLTStd", sans-serif !important;
	color: #777;
}

.full-height-section {
	min-height: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.bgimg-1 p {
	font-size:25pt;
	margin-bottom: 2em;
	margin-top: 2em;
}
.bgimg-1 {
	background-image: url("../img/Index/banner.jpg");	
}

.bgimg-2 {
	background-image: url("https://i.imgur.com/jFtaDGc.jpg");
}

.bgimg-3 {
	background-image: url("https://i.imgur.com/WlUyzIU.jpg");
}

.bgimg-4 {
	background-position-x: right;
	background-size: contain;
	background-image: url("https://i.imgur.com/lTEfzPh.jpg");
}

.caption {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	width: auto;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size:20pt;
}

.mossyfied {
	color: green;
	font-weight: bold;
}

.mossytitle {
	color: green;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1.75rem;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	line-height: 20px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

/*******************
		Menu
********************/

#navbar {
	background-color: transparent !important;
}

#navbar a.nav-link {
	color:white !important;
}

.navbar {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	transition: top 0.5s;
	
}

.navbar-brand img {
	height: 70px;
}

.navbar .last-link {
	margin-right:2em;
}

.navbar .nav-item {
	font-weight: 600;
}

.navbar .nav-item.flags {
	margin-top:0.45em;
}

.navbar .nav-item.flags > input {
	width: 35px;
	margin: 0 5px 0 5px;
}

/*******************
		Index
********************/
#main-header {
	width: 100%;
	margin:0;
	position: relative;
	text-align: justify;
	color: white;
}
#main-header > img {
	width: 100%;
}
#main-header > div {
	
	font-weight: bold;
	font-size: 17pt;
	position: absolute;
	top: 20px;
	left: 30px;
}

#links {
	margin-top: 20px;
	text-align: center;
}

#links > span {
	margin-right: 15px;
}

a {
	color:black !important;
}

#links > span > i {
	margin-right:10px;
}

.seperator {
	width:30%;
	height: 3px;
	background-color: rgb(0, 200, 120);
	margin: 30px auto 30px auto;
}

@media only screen and (min-width: 601px) {


	.two-50-percent {
		display: flex;
		width: 100%;
		margin: 0;
	}
	.two-50-percent > div {
		flex:1;
		position: relative;
		padding-bottom: 130px;
	}

	#index-presentation {
		margin-bottom: 30px;
	}

	#index-presentation > div > .learn-more {
        position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
		margin-top:50px;
	}

	#index-presentation > div > .learn-more img {
		position: relative;
		height: 100px;
		margin: auto;
		display: block;
		margin-bottom: 30px;
	}

	#index-presentation > div > .learn-more a {
		position: relative;
		display: block;
		text-align: center;
	}
}


@media only screen and (max-width: 600px) {
	.two-50-percent {
		display: block;
		margin: 0;
	}
	.two-50-percent > div {
		padding-left : 20px;
		padding-right : 20px;
		margin-top : 60px;
	}
	
	#index-presentation > div > .learn-more a {
		display: flex;
	}

	#index-presentation > div > .learn-more a > img {
		height: 70px;
	}

	#index-presentation > div > .learn-more a > span {
		padding-left:10px;
	}
}


#index-presentation > div .biglogo {
	width:100%;
	text-align: center;
	margin-bottom: 30px;
}

#index-presentation > div .biglogo img {
	height:170px;
}

.title {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	text-align: center;
	color:rgb(0, 200, 120);
}

h4, h5 {
	font-weight: bold;
	text-align: center;
	color:rgb(0, 200, 120);
}

.personal-gallery {
	display: block;
	width: 100%;
	height: 100%;
}

.gallery-portrait {
	min-width: 100%;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.gallery-thumb {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	min-width: 150px;

	cursor: pointer;
}

.gallery-thumbnails {
	display: flex;
}

.img-dave-01 {
	background-image: url(../img/portrait_david.png);
}

.img-dave-02 {
	background-image: url(https://scontent-cdt1-1.cdninstagram.com/vp/74fe117a9bf144a93adeb82cb00f5a16/5DD3A17A/t51.2885-15/e35/18380835_284812138645743_4765070025100886016_n.jpg?_nc_ht=scontent-cdt1-1.cdninstagram.com);
}

.img-dave-03 {
	background-image: url(https://scontent-cdt1-1.cdninstagram.com/vp/88c50c42adb6ed73f420f8d2ee4e236b/5DE29A8B/t51.2885-15/e35/15801968_230824337372842_303739339848810496_n.jpg?_nc_ht=scontent-cdt1-1.cdninstagram.com);
}

.img-dave-04 {
	background-image: url(https://scontent-cdt1-1.cdninstagram.com/vp/6f3e1e8de468196b2fe3431d055c3147/5DEAC7DC/t51.2885-15/e35/14597447_1232345770192231_5616078860924747776_n.jpg?_nc_ht=scontent-cdt1-1.cdninstagram.com);
}

.img-dave-05 {
	background-image: url(https://scontent-cdt1-1.cdninstagram.com/vp/a2fdb4238ec0f1a9292278677746fbe3/5DE26584/t51.2885-15/e35/10954849_439304932933297_355503853_n.jpg?_nc_ht=scontent-cdt1-1.cdninstagram.com);
}


