

.mossyfied {
	color: green;
	font-weight: bold;
}

.mossytitle {
	font-size:40px;
	color: green;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1.75rem;
}

.mossytitle2 {
	font-size:30px;
	color: green;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1.75rem;
}

.mossy-normal-text {
	font-size:25px;
	text-align: justify;
	padding-right:6rem;
	padding-left:4rem;
}

.mossy-centeredtext {
	font-size:25px;
	text-align: center;
	padding-right:6rem;
	padding-left:4rem;
}