#about-us {
	padding-top: 4em;
}

.about-us-section > .portrait{
	width: 40%;
}

.about-us-section > .portrait > img {
	max-width: 100%;
}

.header-text {
	text-align: justify; 
	vertical-align:bottom;
}

.about-us-section.header {
	background-image:url(../img/AboutUs/Common.jpg);
	background-size: cover;
	background-position: right;

	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.header .text {
	font-size:16pt;
	width:auto;
	margin:0;
	font-style:normal;
}

.about-us-section.header .title {
	margin-bottom: 0.5em;
	color:black;
}

.about-us-section .text {
	width: 40%;
	padding: 0 0 0 30px;
	font-size:16pt;
	font-style: italic;
}

.about-us-section.jules {
	background-image:url(../img/AboutUs/Jules.jpg);
	background-size: cover;
	background-position: right;

	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.img-responsive.mobile {
	display: none;
  }
  
@media only screen and (max-device-width: 480px) {
	.about-us-section.jules {
		display: none;
		background-image: none;
	}

	.img-responsive.mobile {
		display: block;
	}
}

/* Jules */

.julesText { color:white; }
.julesText:hover { color:white; }

.julesAboutUs
{
	margin-left: 4%;
	margin-right: 30%;
	position: absolute; 
	bottom: 0;
	margin-bottom: 5%;
}

@media only screen and (max-device-width: 480px) {
	.julesText { color:black; }
	.julesText:hover { color:black; }

	.julesAboutUs { margin: 4%; }	
	.imgInAboutUs { margin: -4%; width:100% }	
}

/* */ 

.about-us-section.jules .title {
	font-size:20pt;
	position:absolute;
	top:150px;
	left:10px;
}

.about-us-section.jules .text {
	position:absolute;
	top:150px;
	left:10px;
	width:60%;
}

.about-us-section.anatole {
	background-image:url(../img/AboutUs/Anatole.jpg);
	background-size:cover;
	background-position: right;

	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.anatole .text {
	float:left;
}


.about-us-section.david {
	background-image:url(../img/AboutUs/David.jpg);
	background-size:cover;
	background-position: bottom;
	
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.david .text {
	float:right;
}