
/* Backgrounds */

.bgimg-1 { background-image: url("../img/Index/banner.jpg"); }
.bgimg-2 { background-image: url("../img/Index/panorama2.jpg"); }
.bgimg-3 { background-image: url("../img/Index/panorama3.jpg"); }

/*******************
	PRESENTATION
********************/
#index-presentation > div {
	/* make it flex column */
	display: flex;
	flex-direction: column;
}

#index-presentation > div > .indexLearnMore {
	/* make the links at the end at the bottom */
	text-align: center;
	display: table;
	width: auto;
	margin: auto auto 0 auto;
}

#index-presentation > div > .indexLearnMore > img,
#index-presentation > div > .indexLearnMore > a {
	display: table-cell;
}

#index-presentation > div > .indexLearnMore > img {
	height: 70px;
}

/*#index-presentation > div .biglogo {
	width:100%;
	text-align: center;
	margin-bottom: 1em;
}

#index-presentation > div .biglogo img {
	height:150px;
}*/

/* CSS DESKTOP */
@media only screen and (min-width: 601px) {

	/*#index-presentation {
		margin-bottom: 30px;
	}*/

	#index-presentation > div > .learn-more {
        position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
		margin-top:50px;
	}

	#index-presentation > div > .learn-more img {
		position: relative;
		height: 100px;
		margin: auto;
		display: block;
		margin-bottom: 30px;
	}

	/*#index-presentation > div > .learn-more a {
		position: relative;
		display: block;
		text-align: center;
	}*/
}

/* MOBILE CSS [WIP] */
@media only screen and (max-width: 600px) {
		
	#index-presentation > div > .learn-more a {
		display: flex;
	}

	#index-presentation > div > .learn-more a > img {
		height: 70px;
	}

	#index-presentation > div > .learn-more a > span {
		padding-left:10px;
	}
}