#about-us {
	padding-top: 4em;
}

.big-padding {
	padding: 0em 2em 0em 2em;
}

.about-us-section > .portrait{
	width: 40%;
}

.about-us-section > .portrait > img {
	max-width: 100%;
}

.header-text {
	text-align: justify; 
	vertical-align:bottom;
}

.about-us-section.header {
	background-image:url(../img/AboutUs/Common.jpg);
	color:white;
	background-size: cover;
	background-position: right;

	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.header .text {
	font-size:16pt;
	width:auto;
	margin:0;
	font-style:normal;
}

.about-us-section.header .title {
	margin-bottom: 0.5em;
	color:black;
}

.about-us-section .title {
	font-size:25pt;
}

.about-us-section .text {
	width: 40%;
	padding: 0 0 0 30px;
	font-size:16pt;
	font-style: italic;
}

.about-us-section.jules {
	background-image:url(../img/AboutUs/Jules.jpg);
	color:white;
	background-size: cover;
	background-position: right;

	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.jules .text {
	float:left;
	vertical-align:top;
}

.about-us-section.anatole {
	background-image:url(../img/AboutUs/Anatole.jpg);
	background-size:cover;
	color:white;
	background-position: right;

	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.anatole .text {
	float:left;
}


.about-us-section.david {
	background-image:url(../img/AboutUs/David.jpg);
	background-size:cover;
	color:white;
	background-position: bottom;
	
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-us-section.david .text {
	float:right;
}