.textJustify
{
	text-align: justify;
}

.textCenter
{
	text-align: center;
}

/* Titles */

.title {
	color: green;
	text-align: center;
}

.title2 {
	color: green;
	text-align: center;
	font-weight: bold;
}

/* default size : big screen */
.respFontTitle {
	font-size:51px;
}

.respFontTitle2 {
	font-size:38px;
}

.respFontText {
	font-size:28px;
}

@media (max-width: 1922px) {
	.respFontTitle {
		font-size:39px;
    }
    
	.respFontTitle2 {
		font-size:29px;
	}
    
	.respFontText {
		font-size:23px;
	}
}

@media (max-width: 1605px) {
	.respFontTitle {
		font-size:33pxpx;
    }
    
	.respFontTitle2 {
		font-size:25px;
	}
    
	.respFontText {
		font-size:20px;
	}
}

@media (max-width: 1281px) {
	.respFontTitle {
		font-size:27px;
    }
    
	.respFontTitle2 {
		font-size:20px;
	}
    
	.respFontText {
		font-size:16px;
	}
}

@media (max-width: 961px) {
	.respFontTitle {
		font-size:20px;
    }
    
	.respFontTitle2 {
		font-size:15px;
	}
    
	.respFontText {
		font-size:12px;
	}

}