
.textJustify { text-align: justify; }
.textCenter { text-align: center; }

/* Titles */

.title {
	color: green;
	text-align: center;
}

.title2 {
	color: green;
	text-align: center;
	font-weight: bold;
}

/* Bold normal text */

.boldGreen {
	color: green;
	font-weight: bold;
}

/* default size : big screen */
.fontTitle { font-size:49px; }
.fontTitle2 { font-size:38px; }
.fontText { font-size:28px; }

@media (max-width: 1922px) {
	.fontTitle { font-size:37px; }    
	.fontTitle2 { font-size:29px; }    
	.fontText { font-size:23px; }
}

@media (max-width: 1605px) {
	.fontTitle { font-size:32pxpx; }    
	.fontTitle2 { font-size:25px; }    
	.fontText { font-size:20px; }
}

@media (max-width: 1281px) {
	.fontTitle { font-size:27px; }    
	.fontTitle2 { font-size:20px; }    
	.fontText { font-size:16px; }
}

@media (max-width: 961px) {
	.fontTitle { font-size:20px; }    
	.fontTitle2 { font-size:15px; }    
	.fontText { font-size:12px; }

}